*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    background: rgb(129, 42, 110);
    background: linear-gradient(90deg, rgb(123, 58, 197) 0%, rgb(124, 78, 231) 35%, rgb(223, 102, 253) 46%, rgb(181, 0, 172) 57%, rgb(79, 90, 250) 70%, rgb(133, 44, 121) 100%);
}
.inputN{
text-align: center;
margin-top: 15px;
}
.inputR{
    width: 60px;
    border: 3px solid black;
}
.container{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(133, 66, 46);
    width: 400px;
    padding: 30px;
    height: 500px;
}
.res{
    text-align: center;
    margin-top: 20px;
    border-radius: 25px 12.5px;
    padding: 10px;
    width: 100px;
    border: 3px solid black;
}
.TMedia{
    text-shadow: 12px 0px 12px purple;
}
.TValores{
    margin-top: 15px;
}
